body {
	background-image: url("../images/dopeyDiamondEyes.jpg");
	font-size: 20px;
	font-family: 'Nova Script', sans-serif;
	font-weight: bold;
}
p {
	font-family: 'Raleway', sans-serif;
}

.page-header {
	font-size: 48px;
}

#numberToMatch, #crystalSum{
	font-size: 48px;
}

#loseCounter, #winCounter {
	font-size: 30px;
}

button {
	background-color: #3a404e;
}

#winLose {
	color: crimson;
}

#mineCart{
	position: relative;
	width: 100%;
	z-index: 4;
}

#cystalSum {
	position: absolute;
	top: 52px;
	left: 100px;
	width: 100%;
	z-index: 10;
}
